:root {
  --primary-color: #e44d26; /* HTML red color */
  --secondary-color: #2965f1; /* CSS blue color */
  --hover-color: #b53b1d; /* Darker HTML red */
  --text-color: #f7f7f7;
  --background-color: #121212;  /* Dark background color */
  --btn-bg-color: #4CAF50;
  --btn-hover-bg: #45a049;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Exo 2', Arial, sans-serif;
  background-color: var(--background-color); /* Dark background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--text-color); /* Light text for contrast */
}

.quiz-header {
  text-align: center;
  margin-top: 20px;
}

.quiz-header i {
  color: var(--primary-color);
  font-size: 60px;
  margin-bottom: 10px;
}

h1 {
  color: var(--primary-color);
  font-size: 2.5rem;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 600px;
}

footer {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

#home {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--primary-color);
  cursor: pointer;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

#home:hover {
  color: #ffffff;
  background-color: var(--primary-color);
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff;
}

#quizContainer {
  margin-bottom: 20px;
}

.option-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid var(--primary-color);
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.option-btn:hover {
  background-color: var(--secondary-color);
  color: white;
  border: 2px solid white;
}

#resultContainer {
  display: none;
  text-align: center;
}

#nextBtn {
  padding: 10px 20px;
  background-color: var(--btn-bg-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#nextBtn:hover {
  background-color: var(--btn-hover-bg);
}

@media (max-width: 768px) {
  .container {
      width: 90%;
  }
}
